.main {
    display: flex;
    justify-content: center;
}

#screen {
    width: 98%;
    height: 80%;
    font-size: 1em;
    text-align: right;
    padding: 12px 0px;
}

h1 {
    text-align: center;
}

td {
    width: 70px;
    height: 50px;
    font-size: 1em;
    text-align: center;
    cursor: default;
    font-size: 1.5em;
}